/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;*/ /* full viewport height */
/*}*/


html, body, app-root {
  height: 100%;
  margin: 0;
}


body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-sidenav-container {
  flex: 1 1 auto;
}

mat-sidenav-content {
  overflow-y: auto;
}
